<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349923092098-lq8f2lsmqm6vnir31s7lud751qt1944b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349923092098-lq8f2lsmqm6vnir31s7lud751qt1944b</string>
	<key>API_KEY</key>
	<string>AIzaSyBCoZTiZ8LfPNvU1wvFtGAKnGN4Sl8nbLU</string>
	<key>GCM_SENDER_ID</key>
	<string>349923092098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.villz.gofast</string>
	<key>PROJECT_ID</key>
	<string>gofast-mobile-222bc</string>
	<key>STORAGE_BUCKET</key>
	<string>gofast-mobile-222bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349923092098:ios:4a4a57167f02644219b69b</string>
	<key>DATABASE_URL</key>
	<string>https://gofast-mobile-222bc.firebaseio.com</string>
</dict>
</plist>